:root {
    --dark-color: #090302;               /*font color*/
    --secondary-color: #c8bfc7;          /*hover effect or weak font color*/
    --light-color: #8a7e72;

    --gap: 1.2rem;
    --padding: 1.2rem;
    --padding-sl: 0.6rem;
    --padding-lg:4rem;
    --btn-padding: 0.7rem;
    --margin: 1.3rem;

    --border-radius:2px;

    --font-lg: 1.7rem;
    --font-xlg: 4.2rem;
    --font-sl: 0.9rem;
    --font-md: 1.2rem;

    --transition-size:width 0.2s ease-in;
}

/* Main Styles */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-size: 16px;
}

body {
    color: var(--dark-color);
    background-image:linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.6)
      ),  url("images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: var(--font-md);
}

h1 {
    font-size: var(--font-xlg);
}

a {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

button {
    all: unset;
    cursor: pointer;
    font-size: var(--font-md);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

i {
    font-size: var(--font-lg);
}

header {
    padding: var(--padding);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
}

/* NAV */

nav {
    margin-top: 3rem;
    width: 100%;
}

nav>a {
    padding: var(--padding-sl) var(--padding);
    color: var(--light-color);
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    opacity: 0.8;
    font-size: var(--font-lg);
    text-align: center;
    border-bottom: solid 4px var(--dark-color);
    transition: border-color 0.3s ease-in-out;
}

nav>a:hover {
    opacity: 0.9;
}

nav>.active {
    border-bottom: solid 4px var(--light-color);
    opacity:1;
}

nav>.active:hover {
    opacity: 1;
}

/* ---HOME--- */

/* HERO */

.hero {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    padding: var(--padding-lg);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}

/* INFO */

.info {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding);
    margin-top: 3rem;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}

.info>div {
    display: flex;
    gap: var(--gap);
}

/* ---MENU--- */

#menu{
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.menu-item {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px ;
    gap: var(--gap);
    border: var(--light-color) 2px solid;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    transition: transform 0.3s ease-out;
}

.menu-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#menu>.menu-item>img {
    height: auto;
    width: 25%;
    min-width: 100px;
}

/* MODULE */

.btn {
    padding: var(--padding-sl) var(--padding);
    color: var(--light-color);
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius);
    opacity: 0.9;
    font-size: var(--font-lg);
    text-align: center;
}

.btn:hover{
    opacity: 1;
}

.btn:active{
    border-color: var(--secondary-color);
}